[submodule "arduino/SailCam_MK5/lib/ssd1306"]
	path = arduino/SailCam_MK5/lib/ssd1306
	url = https://github.com/adafruit/Adafruit_SSD1306.git
[submodule "arduino/SailCam_MK5/lib/Adafruit-GFX-Library"]
	path = arduino/SailCam_MK5/lib/Adafruit-GFX-Library
	url = https://github.com/adafruit/Adafruit-GFX-Library.git
[submodule "arduino/SailCam_MK5/lib/Adafruit_BusIO"]
	path = arduino/SailCam_MK5/lib/Adafruit_BusIO
	url = https://github.com/adafruit/Adafruit_BusIO.git
